# Visual Studio Code settings
.vscode/

# Visual Studio settings
.vs/

# Build directory
build/
GalaxyEngine/build/

# Output directories
GalaxyEngine/Videos
GalaxyEngine/Screenshot_*
GalaxyEngine/Screenshots/
GalaxyEngine/compilerCommand.txt
GalaxyEngine/x64/
x64/

# Misc
*.diff