# Visual Studio Code settings
.vscode/

# Visual Studio settings
.vs/

# Build directory
build/
GalaxyEngine/build/

# Output directories
GalaxyEngine/Videos
GalaxyEngine/Saves
GalaxyEngine/Screenshot_*
GalaxyEngine/Screenshots/
GalaxyEngine/compilerCommand.txt
GalaxyEngine/include/Memory/
GalaxyEngine/x64/
x64/

# Misc
*.diff
.clang-format
.scripts/
.github/
