# Visual Studio Code settings
.vscode/

# Visual Studio settings
.vs/

# Build directory
build/

# Output directories
GalaxyEngine/Video_*
GalaxyEngine/Frame_*
GalaxyEngine/Screenshot_*
GalaxyEngine/compilerCommand.txt
